body {
  font-size: 15px;
  color: #555;
}

table {
  width: 500px; 
  margin: 15px auto;
  padding: 0;
  background-color: #fff;
  border-collapse: collapse;
}


th, td {
  margin: 0;
  padding: 6px 16px;
  border-bottom: 2px solid #bbb;
}

.list-plans{
  padding: 80px 15px 15px 15px;
}

.goods {
  font-weight: bold;
}