.wrapper {
  margin: 0 auto;
  max-width: 700px;
}
.container-calendar {
  background: #ffffff;
  padding: 15px 15px;
  margin: 0 auto;
}
.button-container-calendar button {
  display: inline-block;
  background: #666666;
  color:#ffffff;
  border: 1px solid #666666;
  border-radius: 3px;
  padding: 5px 20px;
}

.button-today button{
  display: inline-block;
  background: #666666;
  color:#ffffff;
  border: 1px solid #666666;
  border-radius: 3px;
  padding: 5px 20px; 
}
.table-calendar {
  border-collapse: collapse;
  width: 100%;
}
.table-calendar th,
.table-calendar td{
  /* padding: 10px; */
  /* height: 50px; */
  border: 2px solid #e2e2e2;
  /* text-align: center; */
  vertical-align: top;
}
.table-calendar td{
 height: 100px; 
 width: 100px; 
}
.today {
  font-weight: bold;
  color: #fff;
  background: #cc0000;
}
.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

.date-picker a{
  text-decoration: none;
  color: inherit; 
}

/* 日曜日 */
.date-picker:nth-child(1) {
color: red;
}
/* 土曜日 */
.date-picker:nth-child(7) {
color: blue;
}
#monthAndYear {
  text-align: center;
}
.button-container-calendar {
  margin-bottom: 1em;
  overflow: hidden; 
  clear: both;
}
#previous {
  float: left;
}
#next {
  float: right;
}
.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}
.footer-container-calendar select {
  color: #454545;
  border-radius: 3px;
  padding: 5px 10px;
}