.wrapper{
  margin: 0 auto;
  max-width: 700px;
}
.container-text{
  text-align: center;
}

.button-container{
  text-align: center;
}

.table-hour{
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.table-hour th,
.table-hour td{
  border:2px solid #666666;
  text-align: center;
}
.table-hour th{
  padding: 5px;
  background-color: #ddc9c6;
}
.table-hour td{
   padding: 10px;
}

.link-calendar{
  padding: 20px 50px;
}


